---
import Main from "../../layouts/Main.astro";

const data = [
  {
    name: "Ana Alicia",
    familyName: "Manguilar del Angel",
    photo: "AnaAliciaManguilarDelAngel.jpg",
    preview: "AnaAliciaManguilarDelAngel-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Argelia Lorena",
    familyName: "Tavera Sanchez",
    photo: "ArgeliaLorenaTaveraSanchez.jpg",
    preview: "ArgeliaLorenaTaveraSanchez-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Kasandra",
    familyName: "Rivera Cortes",
    photo: "KasandraRiveraCortes.jpg",
    preview: "KasandraRiveraCortes-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Judith Citlali",
    familyName: "Ruiz Rocha",
    photo: "JudithCitlaliRuizRocha.jpg",
    preview: "JudithCitlaliRuizRocha-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Karen",
    familyName: "Neyra Villegas",
    photo: "KarenNeyraVillegas.jpg",
    preview: "KarenNeyraVillegas-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Teresa",
    familyName: "Zaragoza Luna",
    photo: "TeresaZaragozaLuna.jpg",
    preview: "TeresaZaragozaLuna-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "María del Rosario",
    familyName: "Calva de la Cruz",
    photo: "MaríadelRosarioCalvaCruz.jpg",
    preview: "MaríadelRosarioCalvaCruz-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },

  {
    name: "Pablo Alberto",
    familyName: "Fernández Miguel",
    photo: "PabloAlbertoFernándezMiguel.jpg",
    preview: "PabloAlbertoFernándezMiguel-removebg-preview.png",
    grade: "Enfermero Auxiliar",
  },
  {
    name: "Maria Dolores",
    familyName: "Rocha Castillo",
    photo: 'MariaDoloresRochaCastillo.jpg',
    preview: 'MariaDoloresRochaCastillo.jpg-removebg-preview.png',
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Angelica Joseph",
    familyName: "Morales Rosas",
    photo: 'AngelicaJosephMoralesRosas.jpg',
    preview: 'AngelicaJosephMoralesRosas-removebg-preview.png',
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Mayte Guadalupe",
    familyName: "Ramirez Ortega",
    photo: "MayteGuadalupeRamirezOrtega.jpg",
    preview: "MayteGuadalupeRamirezOrtega-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Elizabeth",
    familyName: "Ortega Eliosa",
    photo: "ElizabethOrtegaEliosa.jpg",
    preview: "ElizabethOrtegaEliosa-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Martha Elizabeth",
    familyName: "Moreno Villanueva",
    photo: "MarthaElizabethMorenoVillanueva.jpg",
    preview: "MarthaElizabethMorenoVillanueva-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Fabiana",
    familyName: "Dominguez Robles",
    photo: "FabianaDominguezRobles.jpg",
    preview: "FabianaDominguezRobles-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Esly Renata",
    familyName: "Hernandez Martinez",
    photo: "EslyRenataHernandezMartinez.jpg",
    preview: "EslyRenataHernandezMartinez-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Danna Mariel",
    familyName: "Peña Cavala",
    photo: "DannaMarielPenaCavala.jpg",
    preview: "DannaMarielPenaCavala-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Perla",
    familyName: "Juarez Gutierrez",
    photo: "PerlaJuarezGutierrez.jpg",
    preview: "PerlaJuarezGutierrez-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Ana Karen",
    familyName: "Gonzalez Garcia",
    photo: "AnaKarenGonzalezGarcia.jpg",
    preview: "AnaKarenGonzalezGarcia-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Bustos Canchola",
    familyName: "Flor Cristina",
    photo: "BustosCancholaFlorCristina.jpg",
    preview: "BustosCancholaFlorCristina-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Daphne",
    familyName: "Fernández Chávez",
    photo: "DaphneFernándezChavez.jpg",
    preview: "DaphneFernándezChavez-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Yahir Alejandro",
    familyName: "Flores Huerta",
    photo: "YahirAlejandroFloresHuerta.jpg",
    preview: "YahirAlejandroFloresHuerta-removebg-preview.png",
    grade: "Enfermero Auxiliar",
  },
  {
    name: "Adriana Jocelyn",
    familyName: "Rodríguez Hernández",
    photo: "AdrianaJocelynRodriguezHernandez.jpg",
    preview: "AdrianaJocelynRodriguezHernandez-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Blanca Estela",
    familyName: "Uribe Portillo",
    photo: "BlancaEstelaUribePortillo.jpg",
    preview: "BlancaEstelaUribePortillo-removebg-preview.png",
    grade: "Enfermera Auxiliar",
  },
  {
    name: "Cosme",
    familyName: "Contreras Sumuano",
    photo: "CosmeContrerasSumuano.jpg",
    preview: "CosmeContrerasSumuano-removebg-preview.png",
    grade: "Enfermero Auxiliar",
  },
];
---

<Main title="Invitations">
  <div id="preloader">
    <div id="loader"></div>
  </div>

  <div class="control-audio body-hidden" >
    <img src="/invitations/img/mute.svg" alt="" />
    <audio id="audio-background" src="/invitations/data/marcha-bg.mp3" loop></audio>
  </div>

  <div class="app-page graduation body-hidden">
    <div class="body-content">
      <section class="invitation-section">
        <div class="school wow animate__animated bounceInUp">
          CDC San Agustín
        </div>

        <div class="image-lamp wow animate__animated bounceInUp">
          <img src="/invitations/img/lamp.svg" alt="" />
        </div>

        <p>tiene el honor de invitarlo a la:</p>

        <div class="title-ceremony accent wow animate__animated bounceInUp">
          Ceremonia de <br />
          <span>Graduación</span>
        </div>
        <div class="generation wow animate__animated bounceInUp">
          Generación <br /> 2022 - 2023
        </div>

        <div class="date wow animate__animated bounceInUp">
          <div class="name-day">
            <span>Sábado</span>

            <b>10:30 AM</b>
          </div>

          <div class="day">16</div>

          <div class="month">
            <span>Diciembre</span>

            <b>2023</b>
          </div>
        </div>

        <div class="locate">
          <a
            class="link"
            href="https://maps.app.goo.gl/XFZaHHFES3ZJfX557"
            target="_blank"
          >
            Ubicación
          </a>
        </div>
      </section>

      <section class="countdown-section countdown">
        <div class="title" id="headline">El evento Comienza en:</div>
        <div id="countdown">
          <ul>
            <li><span id="days"></span>Dias</li>
            <li><span id="hours"></span>Horas</li>
            <li><span id="minutes"></span>Minutos</li>
            <li><span id="seconds"></span>Segundos</li>
          </ul>
        </div>
      </section>

      <section class="poem-section">
        <div class="poem">
          <div class="title accent wow animate__animated bounceInUp">
            Juramento para Enfermeras de Florence Nightingale
          </div>

          <div class="florence">
            <img src="/invitations/img/florence-nightingale.png" id="florence-img" alt="" />
            <br />
            <div>
              <button id="toggleButton" class="button playerButton"
                >Escuchar</button
              >
              <audio
                id="myAudio"
                src="/invitations/data/juramento.mp3"
                preload="auto"></audio>
            </div>
          </div>

          <div class="poem-content">
            

          <br />
          <br />
          <p>
            Juro ejercer mi profesión en total beneficio para la humanidad, <br/>
            sin distinción de credo, raza o condición social.
          </p>

          <p>
            Hoy y siempre velare por mis semejantes, en los momentos <br />
            significativos de la vida: <br />
            El nacimiento, <br /> La infortuna de la enfermedad, <br /> o el momento
            innegable de la muerte.
          </p>
          <p>
            Día a día con plena dedicación mantendré actualizados mis
            conocimientos, <br /> aplicaré los principios bioéticos que guiaran mis
            acciones con indivisible conciencia, <br /> y honraré el secreto profesional
            que me confieran.
          </p>
          <p>
            Con amor y pleno compromiso contribuiré en el desarrollo de mi
            profesión.
          </p>
          <p>Hago estas promesas solemne y libremente.</p>
          <p>
            Si así lo hiciere que se me premie, o de lo contrario estaré dispuesta a que se me demande.
          </p>
          <p>¡LO JURO!</p>
          
        </div>
        </div>
      </section>

      <section class="graduates-section">
        <div class="title wow animate__animated bounceInUp">
          <b>Honorables Graduados</b>
        </div>

        <div class="graduates">
          {
            data.map((graduate) => {
              if (!graduate.photo) {
                graduate["_photo"] = "/invitations/img/lamp.svg";
                graduate["_preview"] = "/invitations/img/lamp.svg";
              } else {
                graduate["_photo"] = "/invitations/graduates/" + graduate.photo;
                graduate["_preview"] =
                  "/invitations/graduates/" + graduate.preview;
              }

              return (
                <div class="graduateUser">
                  <div class="avatar">
                    <img
                      class="preview"
                      src={graduate["_preview"]}
                      alt={graduate.photo}
                    />
                    <img
                      class="full"
                      src={graduate["_photo"]}
                      alt={graduate.photo}
                    />
                  </div>
                  <div class="user">
                    <div class="full grade">{graduate.grade}</div>
                    <div class="name">{graduate.name}</div>
                    <div class="familyName">{graduate.familyName}</div>

                    <div class="full return">Regresar</div>
                  </div>
                </div>
              );
            })
          }
        </div>
      </section>

      <section class="gallery-section">
        <div class="title wow animate__animated bounceInUp">
          <b>Felicitaciones</b>
        </div>

        <div class="box">
          {
            data.map((graduate, index) => {
              let counter = index + 1;
              if (!graduate.photo) {
                graduate["_photo"] = "/invitations/img/lamp.svg";
                graduate["_preview"] = "/invitations/img/lamp.svg";
              } else {
                graduate["_photo"] = "/invitations/graduates/" + graduate.photo;
                graduate["_preview"] =
                  "/invitations/graduates/" + graduate.preview;
              }

              return (
                <div style={"--i:" + counter + ";"} class="item">
                  <img src={graduate["_photo"]} alt={graduate.photo} />
                  <div class="names">{graduate.name} {graduate.familyName}</div>
                </div>
              );
            })
          }
        </div>
      </section>

      <section class="sponsors-section">
        <div class="title wow animate__animated bounceInUp">
          <b>Comité Ejecutivo</b>
        </div>

        <div class="agent wow animate__animated bounceInUp">
          Directora DIF Nezahualcóyotl
          <div class="name">Claudia Mónica <span>Pérez Cerqueda</span></div>
        </div>

        <div class="agent wow animate__animated bounceInUp">
          Subdirector DIF Nezahualcóyotl
          <div class="name">Andrés Roberto <span>Noguez Morales</span></div>
        </div>

        <div class="agent wow animate__animated bounceInUp">
          Coordinador CDC San Agustín
          <div class="name">Miguel Ángel <span>Córdova Velázquez</span></div>
        </div>

        <div class="agent wow animate__animated bounceInUp">
          Profesora
          <div class="name">Monserrat <span>Hernández García</span></div>
        </div>
      </section>
      <section>
        <div id="stats">.</div>
      </section>
    </div>
  </div>
</Main>

<script> 
  import { Graduation } from "../../data/graduation";
  const app = new Graduation();

  document.addEventListener("DOMContentLoaded", () => {
  const preloader = document.getElementById("preloader");
  const hiddens = document.querySelectorAll(".body-hidden");

  window.addEventListener("load", () => {
    // Oculta el preloader una vez que todo el contenido se haya cargado
    // preloader.style.display = "none";
    preloader.classList.add('body-hidden');
    hiddens.forEach(item => {
      item.classList.remove('body-hidden');
    });

    console.log('hiddens: ', hiddens);

    
    app.init();
  });
});

</script>
